.container {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 20px;
  animation: cssnice1 1s both;
  margin-bottom: 10px;
  .left {
    .img {
      width: 45px;
      height: 45px;
      border-radius: 100%;
    }
  }
  .right {
    width: 100%;
    margin-left: 20px;
    .rightHeader {
      display: flex;
      justify-content: space-between;
      .rightContent {
        .title {
          color: #2e3135;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        .comment {
          font-size: 14px;
          margin-bottom: 10px;
          padding: 10px;
          background: #fafbfc;
          border-radius: 3px;
          border: 1px solid #f1f1f2;
        }
      }
    }
    .rightFooter {
      display: flex;
      justify-content: space-between;
      .time {
        display: flex;
        color: #8a9aa9;
      }
      .operation {
        display: flex;
        .reply {
          margin-left: 20px;
        }
      }
    }
  }
}
@keyframes cssnice1{
  0%{
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(3%,0,0);
  }
  65%{
    opacity: 1;
    transform: translate3d(-2.5%,0,0);
  }
  80%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  90%{
    opacity: 1;
    transform: translate3d(-1%,0,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}