
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  animation: cssniceright 1.2s both;
  .cssniceright
  .avatarContainer {
    display: flex;
    justify-content: center;
    .userlight {
      animation: light 2s linear both infinite;
      transition: all .5s;
    }
    .avatar {
      
    }
    @keyframes light {
      from {
          box-shadow: 0 0 1px white,
              0 0 5px white,
              0 0 10px white,
              0 0 20px purple,
              0 0 5px purple,
              0 0 11px pink;
      }
  
      to {
          box-shadow: 0 0 5px white,
              0 0 10px yellow,
              0 0 15px yellow,
              0 0 8px green,
              0 0 10px green,
              0 0 12px blue;
      }
    }
  }
  .userName {
    margin-top: 10px;
  }
  .authorIntroduction{
    font-size:.8rem;
    color: #999;
    margin-top: 5px;
  }
  .account{
      background-color: #999;
      margin-left: .5rem;
      margin-right: .5rem;
  }
  .myname{
      font-size: large;
      font-weight: 600;
      margin-bottom: .5rem;
      margin-top: .5rem;
      /* color: blue; */
  }
  .myname1{
      margin-bottom: .5rem;
  }
}
@keyframes cssniceright{
  0%{
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(-3%,0,0);
  }
  65%{
    opacity: 1;
    transform: translate3d(2.5%,0,0);
  }
  80%{
    opacity: 1;
    transform: translate3d(-2%,0,0);
  }
  90%{
    opacity: 1;
    transform: translate3d(-1%,0,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}