.containerLeft {
  background-color: #FFF;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
  display: flex;
  justify-content: space-between;

  .left {
    width: 100%;
    background-color: #fff;
    padding: 20px;

    .userInfo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      .avatar {
        margin-right: 50px;
      }

      .nickname {
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 8px;
      }

      .desc {
        color: #72777b;
        margin-bottom: 5px;
        font-size: 12px;
        display: flex;
        align-items: center;

        svg {
          width: 12px;
          height: 12px;
          margin-right: 10px;
        }
      }

      button {
        position: absolute;
        right: 0;
      }
    }
  }
}
.containerRight {
  width: 240px;
  height: 180px;
  background-color: #fff;
  margin-left: 10px;
  animation: cssniceright 1.2s both;

  .achievement {
    height: 180px;
    background-color: rgba(255,255,255, .6);

    .header {
      height: 50px;
      border-bottom: 1px solid #f3f3f3;
      padding: 10px;
      font-size: 16px;
      display: flex;
      align-items: center;
    }

    .number {
      padding: 20px;

      .wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          fill: #89b7f9;
        }
      }
    }
  }
}

.userProfile {
  padding: 20px;
  .form {
    width: 500px;
    margin-top: 40px;
  }
  .userAvatar {
    display: flex;
    .avatarText {
      width: 100px;
      margin-right: 20px;
    }
  }
}

@keyframes cssniceright{
  0%{
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(-3%,0,0);
  }
  65%{
    opacity: 1;
    transform: translate3d(2.5%,0,0);
  }
  80%{
    opacity: 1;
    transform: translate3d(-2%,0,0);
  }
  90%{
    opacity: 1;
    transform: translate3d(-1%,0,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}