.container {
  margin-top: .5rem;
}
.containerLeft{
  background-color: #FFF;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
  .articleHeader {
    padding: 0px 10px;
    text-align: center;
    width: 100%;
  }
  .articleTitle {
    font-size: 28px;
    font-weight: 600;
    color: rgb(24, 144, 255);
  }
  .articleContent {
    padding: 20px;
  }
  .articleInfo {
    .userInfo {
      display: flex;
      align-items: center;
      .info {
        margin-left: 10px;
      }
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    .icon {
      margin-right: 16px;
    }

    .likeContainer {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
.operationArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .userInfo {
    display: flex;
    align-items: center;
    .info {
      margin-left: 10px;
    }
    button {
      margin-left: 10px;
      border-radius: 20px;
      color: white;
      background-color: rgb(85, 181, 154);
    }
  }

  .operation {
    display: flex;
    color: #c8c8cc;
    .love {
    }
    .dislove {
      margin-left: 40px;
    }
    .message {
      margin-left: 40px;
    }
    .operationText {
      margin-left: 10px;
    }
  }
}

.containerRight {
  margin-left: 10px;
  animation: cssniceright 1.2s both;

  .navContainer {
    position: sticky;
    top: 50px;
    padding: 10px;
    // text-align: center;
    background-color: rgba(255,255,255, .6);
    border-radius: 5px;
    .navTitle {
      text-align: center;
      color: #888;
    }
  }
}

.bread-div{
  padding: .5rem;
  border-bottom:1px solid #eee;
  background-color: #e1f0ff;
}


.divider {
  background-color: aliceblue;
  height: 20px;
}

.comment {
  padding: 10px;
  .enter {
    display: flex;
    align-items: center;
    .content {
      width: 100%;
      margin-left: 20px;
      .commentInputContainer {
        border: 1px solid #1e80ff;
        background: #fff;
        min-height: 100px;
        border-radius: 10px;
        .inputImageContainer {
          position: relative;
          width: 80px;
          .inputImage {
            width: 64px;
            height: 64px;
            margin-left: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
          }
          .deleImg {
            position: absolute;
            color: rgb(134, 144, 156);
            top: -10px;
            right: 0;
          }
        }
      }
      .operation {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
      button {
      }
    }
  }
}

.display {
  margin-top: 30px;

  .wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;

    .info {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      width: 100%;

      .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        font-weight: bold;

        .date {
          color: #8a919f;
          font-weight: normal;
        }
      }
    }

    .content {
      color: #515767;
      margin-top: 10px;
    }
  }
}

@keyframes cssniceright{
  0%{
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(-3%,0,0);
  }
  65%{
    opacity: 1;
    transform: translate3d(2.5%,0,0);
  }
  80%{
    opacity: 1;
    transform: translate3d(-2%,0,0);
  }
  90%{
    opacity: 1;
    transform: translate3d(-1%,0,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}