.container {
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  .operation {
    display: flex;
    margin-bottom: 10px;
    .title {
      width: 80%;
      margin-right: 20px;
    }

    .tag {
      width: 15%;
    }

    .button {
      margin-left: 10px;
      width: 5%;
    }
  }

  .desc {
    margin-bottom: 10px;
  }

  .upLoadImg {
    
  }
  .contentWarnings {
    background-color: red;
    color: white;
    text-align: center;
  }
  .editContainer {
    margin-bottom: 50px;
  }
}

