.tags {
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .tag {
    padding: 10px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
  }

  .active {
    background-color: #007fff;
    color: #fff;
  }
}

.container {
  margin-top: .5rem;
  .containerLeft{
    background-color: #FFF;
    padding:.3rem;
    border-radius: .3rem;
    border:1px solid #eee;

    .searchContainer {
      background-color: #FFF;
      padding: 20px;
    }
  }
  .containerRight {
    margin-left: 10px;
    animation: cssniceright 1.2s both;
  }
}

@keyframes cssniceright{
  0%{
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(-3%,0,0);
  }
  65%{
    opacity: 1;
    transform: translate3d(2.5%,0,0);
  }
  80%{
    opacity: 1;
    transform: translate3d(-2%,0,0);
  }
  90%{
    opacity: 1;
    transform: translate3d(-1%,0,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.cssnice3{ 
  /* 分页动画 */
  animation: cssnice3 1s both;
}
@keyframes cssnice3{
  20%{
    transform: rotate3d(0, 0, 1, 25deg);
  }
  40%{
    transform: rotate3d(0, 0, 1, -20deg);
  }
  60%{
    transform: rotate3d(0, 0, 1, 15deg);
  }
  80%{
    transform: rotate3d(0, 0, 1, -10deg);
  }
  100%{
    transform: rotate3d(0, 0, 1, 0deg);
  }
}