.tags {
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .tag {
    padding: 10px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
  }

  .active {
    background-color: #007fff;
    color: #fff;
  }
}

.container {
  margin-top: .5rem;
  .containerLeft{
    background-color: #FFF;
    padding:.3rem;
    border-radius: .3rem;
    border:1px solid #eee;
  }
  .containerRight {
    margin-left: 10px;
    animation: cssniceright 1.2s both;
  }
}

@keyframes cssniceright{
  0%{
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(-3%,0,0);
  }
  65%{
    opacity: 1;
    transform: translate3d(2.5%,0,0);
  }
  80%{
    opacity: 1;
    transform: translate3d(-2%,0,0);
  }
  90%{
    opacity: 1;
    transform: translate3d(-1%,0,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.backToTop {
  font-size: 37px;
  color:rgb(85, 181, 154);
}
.backToTop img{ 
  /* 旋转头像 */
  transition: all 1s;
}
.backToTop:hover img{
  transform: rotate(360deg);
  
}
.backToTop:hover{
  /* 置顶特效 */
  animation: btn-pudding 2s linear;
}
@keyframes btn-pudding{
  12%, 15% {
    transform: scale(0.93, 1.07);
}

16%, 17% {
    transform: scale(0.94, 1.06);
}
10%, 18% {
    transform: scale(0.95, 1.05);
}
19% {
    transform: scale(0.96, 1.04);
}
20% {
    transform: scale(0.98, 1.02);
}
21%, 40%, 48% {
    transform: scale(0.99, 1.01);
}
22%, 23%, 37%, 39%, 49% {
    transform: scale(1, 1);
}
7%, 24%, 34%, 36% {
    transform: scale(1.01, 0.99);
}
25%, 27%, 30%, 33% {
    transform: scale(1.02, 0.98);
}
28%, 29% {
    transform: scale(1.03, 0.97);
}
2% {
    transform: scale(1.16, 0.84);
}
0% {
    transform: scale(1.2, 0.8);
}
}

.cssnice3{ 
  /* 分页动画 */
  animation: cssnice3 1s both;
}
@keyframes cssnice3{
  20%{
    transform: rotate3d(0, 0, 1, 25deg);
  }
  40%{
    transform: rotate3d(0, 0, 1, -20deg);
  }
  60%{
    transform: rotate3d(0, 0, 1, 15deg);
  }
  80%{
    transform: rotate3d(0, 0, 1, -10deg);
  }
  100%{
    transform: rotate3d(0, 0, 1, 0deg);
  }
}