.tags {
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .tag {
    padding: 10px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
  }

  .active {
    background-color: #007fff;
    color: #fff;
  }
}

.container {
  margin-top: .5rem;
  .containerLeft{
    background-color: #FFF;
    padding:.3rem;
    border-radius: .3rem;
    border:1px solid #eee;
  }
  .containerRight {
    margin-left: 10px;
  }
}