.contentLayout {
  position: relative;
  top: 50px;
  margin-bottom: 100px;
  background-color: white;
  padding: 20px;
  .tags {
    display: flex;
    justify-content: flex-start;
    
    .emptyContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: white;
      padding: 35px;
    }
  }
}

