.container {
  margin: 0 atuo;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  .content {
    color: rgb(119, 119, 119);
    font-variant: tabular-nums;
    font-size: 14px;
  }
}
.header {
  display: flex;
  justify-content: space-between;

  .title {
    font-size:1.3rem;
    color: rgb(32, 157, 123);
    padding: 0 0.5rem;
  }

  .userInfo {
    display: flex;
    align-items: center;
    .name {
      margin-left: 10px;
    }
  }
}
.iconList {
  display: flex;

  .icon {
    margin-right: 16px;
  }
}
.articleImg {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 260px;
  overflow: hidden;
  border-radius: 6px;
  overflow: hidden;
  img {
    // height: 260px;
    transition: all 0.5s ease 0s;
  }

  img:hover {
    transform:scale(1.1);
  }
}

.container:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
  transform: translate3d(0,-2px,0);
  background-color: rgba(255,255,255,.5);
}
/* 过度动画 */
.cssnice{
  width: 100%;
  animation: cssnice 1s both;
}
@keyframes cssnice{
  0%{
    opacity: 0;
    transform: scale3d(0.3,0.3,0.3);
  }
  50%{
    opacity: 1;
  }
}
/* 过度动画 */
.cssnice1{
  width: 100%;
  animation: cssnice1 1s both;
}
@keyframes cssnice1{
  0%{
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(3%,0,0);
  }
  65%{
    opacity: 1;
    transform: translate3d(-2.5%,0,0);
  }
  80%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  90%{
    opacity: 1;
    transform: translate3d(-1%,0,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}