.container {
  margin: 0 atuo;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  
  .article {


    .userInfo {
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      span {
        padding: 0 10px;
        border-right: 1px solid #e5e6eb;
      }

      span:first-of-type {
        padding-left: 0;
      }

      span:last-of-type {
        border-right: 0;
      }

      .name {
        color: #4e5969;
      }

      .name:hover {
        text-decoration: underline;
        color: #1e80ff;
      }

      .date {
        color: #86909c;
      }
    }

    .title {
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .content {
      font-size: 16px;
      color: #86909c;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .statistics {
      display: flex;
      align-items: center;

      .item {
        margin-left: 5px;
      }
    }
  }
}

.container:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
  transform: translate3d(0,-2px,0);
  background-color: rgba(255,255,255,.5);
}
/* 过度动画 */
.cssnice{
  animation: cssnice 1s both;
}
@keyframes cssnice{
  0%{
    opacity: 0;
    transform: scale3d(0.3,0.3,0.3);
  }
  50%{
    opacity: 1;
  }
}
/* 过度动画 */
.cssnice1{
  animation: cssnice1 1s both;
}
@keyframes cssnice1{
  0%{
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(3%,0,0);
  }
  65%{
    opacity: 1;
    transform: translate3d(-2.5%,0,0);
  }
  80%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  90%{
    opacity: 1;
    transform: translate3d(-1%,0,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}