.container {
  background-color: rgba(255,255,255, .6);
  padding: 10px;
  padding-left: 5px;
  .title {
    color: rgb(32, 157, 123);
    font-size: 18px;
  }
  .tagList {
    font-size: 18px;
    margin-top: 10px;
    white-space:normal;
    word-break:break-all;
    word-wrap:break-word; 
  }
  
}
.tagItem {
  margin-left: 6px;
  margin-top: 10px;
}